In [24]:
import pandas as pd
import numpy as np

## Load the all the data

In [25]:
df_jobs = pd.read_csv("jobs.csv")
df_jobs.rename(columns={"title": "Title", "job_location":"Location", "company_name":"Company", "job_type":"Job_Type", "job_salary":"Salary"}, inplace=True)
df_jobs["Description"] = np.nan
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        2966 non-null   object
 1   Location     2966 non-null   object
 2   Company      2966 non-null   object
 3   Job_Type     2434 non-null   object
 4   Salary       1544 non-null   object
 5   Description  0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 139.2+ KB

In [26]:
df_jobs1 = pd.read_csv("jobs1.csv")
df_jobs1.rename(columns={"title": "Title", "job_location":"Location", "company_name":"Company", "job_type":"Job_Type", "job_salary":"Salary", "job_description":"Description"}, inplace=True)
df_jobs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14862 entries, 0 to 14861
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        14862 non-null  object
 1   Location     14862 non-null  object
 2   Company      14862 non-null  object
 3   Job_Type     7078 non-null   object
 4   Description  14862 non-null  object
 5   Salary       6311 non-null   object
dtypes: object(6)
memory usage: 696.8+ KB

In [27]:
df_glassdoor15 = pd.read_csv("GlassdoorPull-2025-01-15.csv")
df_glassdoor15["Job_Type"] = np.nan
df_glassdoor15["Company"] = np.nan
df_glassdoor15.drop(["ID"], axis=1, inplace=True)
df_glassdoor15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        480 non-null    object
 1   Location     480 non-null    object
 2   Salary       391 non-null    object
 3   Description  480 non-null    object
 4   Job_Type     0 non-null      float64
 5   Company      0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 22.6+ KB

In [31]:
df_simply_hired = pd.read_csv("simply_hired.csv")
df_simply_hired.drop(["Unique Title"], axis=1, inplace=True)
df_simply_hired.rename(columns =  {"Title":"Title", "Job Location":"Location", "Company Name":"Company", "Job Type":"Job_Type", "Salary":"Salary"}, inplace=True)
df_simply_hired["Description"] = np.nan
df_simply_hired.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        750 non-null    object
 1   Location     750 non-null    object
 2   Company      750 non-null    object
 3   Job_Type     750 non-null    object
 4   Salary       750 non-null    object
 5   Description  0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 35.3+ KB

### Columns:
- Title
- Location
- Company
- Job_Type
- Salary
- Description

### Concat the dataframes together

In [41]:
df = pd.concat([df_jobs, df_jobs1, df_glassdoor15, df_simply_hired], join="inner")
df.to_csv("job_market_list.csv", index=False)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19058 entries, 0 to 749
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        19058 non-null  object
 1   Location     19058 non-null  object
 2   Company      18578 non-null  object
 3   Job_Type     10262 non-null  object
 4   Salary       8996 non-null   object
 5   Description  15342 non-null  object
dtypes: object(6)
memory usage: 1.0+ MB

In [43]:
df.describe()

,Title,Location,Company,Job_Type,Salary,Description
count,19058,19058,18578,10262,8996,15342
unique,2425,156,1976,9,1005,2991
top,Senior Software Engineer,"Chicago, IL","Uline, Inc.",Full-time,$65K - $85K / yr,Software Development Team Lead - Web\nPay from...
freq,1188,7417,201,9669,335,199

In [44]:
df["Title"]

0                         Cybersecurity Systems Engineer
1                                Staff Software Engineer
2                         Software Development Team Lead
3      Lead Software Engineer - Full Stack - Java/Rea...
4                             CNC Manufacturing Engineer
                             ...
745                Technical Projet Manager (AWS DevOps)
746               Sr Manager -IT App Dev Fuel Management
747    Senior DevSecOps Engineer/RPA Senior Product E...
748                              VP, AWS Cloud Architect
749                        Solutions Architect III - AWS
Name: Title, Length: 19058, dtype: object